.member {
    position: relative;
    width: 1440px;
    height: 1385px;

    background: #FFFFFF;
}

.overlaycontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 20px;

    position: absolute;
    width: 1313px;
    left: calc(50% - 1313px/2 + 4.5px);
    top: 60px;
    bottom: 260px;

    /* /shadow/base */

    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06));
    border-radius: 8px;
}

.stackedoverlayercontainer {
    box-sizing: border-box;

    width: 1273px;
    height: 1168px;

    /* gray/200 */

    border: 4px solid #E5E7EB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    flex-grow: 1;
}

.breadcrumbs {
    box-sizing: border-box;

    position: absolute;
    width: 348px;
    height: 44px;
    left: 50px;
    top: 10px;

    /* white */

    background: #FFFFFF;
    border: 1px solid #000000;
    /* /shadow/base */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.text1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 180px;
    height: 20px;
    left: 144px;
    top: 12px;

}

.breadcrumb2 {
    position: absolute;
    width: 24px;
    height: 44px;
    left: 104px;
    top: 0px;
}

.text2 {
    position: absolute;
    left: 1.22%;
    right: 1.22%;
    top: 0%;
    bottom: 0%;

    background: #000000;
}

.breadcrumb3 {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 64px;
height: 20px;
left: 24px;
top: 12px;
}

.text3 {
    width: 64px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
    
    /* text-sm/leading-5/font-medium */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: right;
    
    /* gray/500 */
    
    color: #6B7280;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}

.controlbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 175px;
    height: 231px;
    left: 20px;
    top: 55px;

}

.desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 16px;
    gap: 20px;
position: absolute;
left: 33px;
    width: 183px;
    height: 231px;

    /* white */

    background: #FFFFFF;

    /* white */

    background: #FFFFFF;
}

.logo {
    width: 143px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.image1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;

    width: 183px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

image {
    position: absolute;
    left: 0.7%;
    right: 76.22%;
    top: 3.12%;
    bottom: 3.12%;

    /* indigo/600 */

    background: #4F46E5;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 8px;
    gap: 4px;
position:absolute;
    width: 183px;
    height: 440px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.link{
    text-decoration: none;
}

.fulllines{
    position: absolute;
width: 937.01px;
height: 0px;
left: -209px;
top: 550px;

border: 1px solid #000000;
transform: rotate(-90deg);
}




.divider{
    position: absolute;
width: 867px;
height: 1px;
left: 361px;
top: 225px;

/* gray/200 */

background: #E5E7EB;
}



.divider2{
    position: absolute;
width: 867px;
height: 1px;
left: 250px;
top: 130px;

/* gray/200 */

background: #E5E7EB;
}

.labels2{
    position: absolute;
width: 867px;
height: 1px;
left: 359px;
top: 302px;

/* gray/200 */

background: #E5E7EB;
}

.sublabel2{
    position: absolute;
width: 308px;
height: 16px;
left: 361px;
top: 277px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */


/* gray/700 */

color: #374151;
}
.divider3{
    position: absolute;
width: 867px;
height: 1px;
left: 300px;
top: 180px;

/* gray/200 */

background: #E5E7EB;
}

.divider1{
    position: absolute;
width: 867px;
height: 1px;
left: 300px;
top: 85px;

/* gray/200 */

background: #E5E7EB;
}

.divider4{
    
position: absolute;
width: 867px;
height: 1px;
left: 300px;
top: 230px;

/* gray/200 */

background: #E5E7EB;
}

.contacts{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 260px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    

}


.mobilenumber{
    text-align: left;
position: absolute;
width: 308px;
height: 16px;
left: 300px;
top: 300px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
list-style-type: none;

color: #374151;


}
.mobilenumber1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 692px;
    top: 300px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.whatsapp{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 330px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
    
}
.whatsapp1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 692px;
    top: 330px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
}
.landline{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 360px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.landline1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 692px;
    top: 360px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}

.emailaddress{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 390px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.emailaddress1{

    position: absolute;
    width: 308px;
    height: 16px;
    left: 692px;
    top: 390px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
}
.whatsappnumber{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 409px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
    
}
.whatsappnumber1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 692px;
    top: 409px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
}
.name{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 60px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.name1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 690px;
    top: 60px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
}

.gender{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 110px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.gender1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 690px;
    top: 110px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    

}
.dateofbirth{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 160px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
    
    
}
.dateofbirth1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 692px;
    top: 160px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
   
    list-style-type: none;
    color: #374151;
    
}
.nickname{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 210px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
}
.nickname1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 690px;
    top: 210px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
    
}
.othercontactnumber{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 420px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
    

}

.othercontactnumber1{
    position: absolute;
width: 308px;
height: 16px;
left: 690px;
top: 420px;
text-align: left;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
list-style-type: none;
color: #374151;

}
.divider5{
    position: absolute;
width: 867px;
height: 1px;
left: 300px;
top: 453px;

/* gray/200 */

background: #E5E7EB;
}
.address{
    position: absolute;
width: 308px;
height: 16px;
left: 300px;
top: 470px;
text-align: left;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
list-style-type: none;
color: #374151;

}

.homes{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 500px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
}
.homes1{
    position: absolute;
    width: 308px;
    height: 80px;
    left: 690px;
    top: 500px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
    
    
}
.map{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 590px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.map1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 690px;
    top: 590px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    list-style-type: none;
    text-decoration-line: underline;
    
    /* gray/700 */
    
    color: #374151;
}
.spouse{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 630px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
    
}
.spouse1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    text-align: left;
    position: absolute;
    width: 61px;
    height: 16px;
    left: 690px;
    top: 630px;
    list-style-type: none;
}

.spousename{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 660px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.spousename1{
    position: absolute;
width: 308px;
height: 16px;
left: 690px;
top: 660px;
text-align: left;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
list-style-type: none;

color: #374151;
}
.dateofbirthsub{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 690px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    
    color: #374151;
}
.dateofbirthsub1{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 690px;
    top: 690px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    list-style-type: none;
}
.weddinganniversary{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 720px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    list-style-type: none;
    
}
.weddinganniversary1{
    position: absolute;
width: 308px;
height: 16px;
left: 690px;
top: 720px;
text-align: left;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
list-style-type: none;
color: #374151;

}
.membershipstatus{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 750px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    
    /* gray/700 */
    list-style-type: none;
    color: #374151;
    
}
.membershipstatus1{
    position: absolute;
width: 308px;
height: 16px;
left: 690px;
top: 760px;
text-align: left;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
list-style-type: none;

color: #374151;

}

.notes{
    position: absolute;
    width: 308px;
    height: 16px;
    left: 300px;
    top: 790px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    color: #374151;
    
}
.noteshead{
    
    position: absolute;
    left: 690px;
    top: 790px;
    width: 200px;
    height: 50px;
   

}
.notes1{
    list-style-type: none;
    text-align: left;
    position: absolute;
left:0px;
right: 0%;
top: 0%;
bottom: 0%;
width: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */

display: flex;
align-items: center;

color: #000000;

}

.home11{
    width: 24px;
height: 24px;
}
.link31{
    width: 43px;
    right: 43px;
    height: 20px;
    position: absolute;
   right: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    list-style-type: none;
    text-decoration:none ;
    color: #111827;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.verticalnavigation33{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 8px 8px;
gap: 105px;

width: 167px;
height: 40px;


border-radius: 6px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
  }

  
